name: npm release

on:
  workflow_dispatch:
  release:
    types: [created]

permissions:
  contents: read
  id-token: write  # Required for OIDC

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          registry-url: https://registry.npmjs.org/
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: build
        run: npm run go
      - name: ci
        run: npm run lint
      - name: publish
        run: npm publish
