name: npm release

on:
  workflow_dispatch:
  release:
    types: [created]

permissions:
  contents: read
  id-token: write  # Required for OIDC

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - uses: pnpm/action-setup@v4
        with:
          version: 9.15.4
      - name: Install dependencies
        run: pnpm install
      - name: prepare
        run: pnpm run dev:prepare
      - name: ci
        run: pnpm run lint
      - name: prepack
        run: pnpm run prepack
      - name: publish
        run: npm publish
